body {
    font-family: ubuntu, "sans-serif", "sans";
    background-color: #8e90a4;
    color: white;
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
}

header,
footer {
    background-color: #5f9f89;
    height: 100%;
    width: 100%;
}

header {
    top: 0;
    padding: 1px;
    box-shadow: 1px 1px 1px black;
    display: flex;
    gap: 20pt;
    align-items: center;
}

header a {
    text-decoration: none;
    font-size: 20px;
    color: white;
    margin-right: 10px;
}

#header-logo {
    text-shadow: 1px 1px 12px black;
    color: white;
    font-size: 30px;
    margin-left: 50px;
}

#home {
    background-color: #5f9f89;
    align-items: center;
}

#heading-house {
    color: white;
    margin: 20px;
    text-shadow: 1px 1px 8px black;
    text-align: center;
}

#home-heading {
    font-size: 150px;
    text-decoration: none;
}

#home-heading:visited {
    color: white;
}

body {
    align-items: center;
    justify-content: center;

}

button {
    border-radius: 5px;
    box-shadow: 1px 1px 2px black;
    font-family: ubuntu, "sans-serif", "sans";
    font-size: 20px;
}
h2 {
    font-size: 20px;
}

h2, label {
    padding: 0;
    margin: 0;
    margin-bottom: 5px;
    text-shadow: 1px 1px 3px black;
    font-size: 20px;
}

#sqnc {
    display: flex;
    height: 760px;
    align-items: center;
    flex-grow: 1;
}

.wood {
    width: 35px;
    min-height: 760px;
    box-shadow: 3px 3px 10px black;
    background-color: #363532;
    border-radius: 4px;
}

#sqncBody {
    width: 1200px;
    height: 700px;
    padding: 10px;
    background-color: #C7C6C6;
    box-shadow: 1px 1px 8px black;
    display:flex;
    flex-direction: column;
    margin: 0;
}

#top {
    display: flex;
}

#tracks {
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-right: 10px;
    margin-left: 30px;
    margin-top: 20px;
}

.trackBtn {
    width: 100px;
    height: 35px;
}

#master {
    background-color: #A3D4C3;
}

#params {
    flex-grow: 1;
    display:flex;
    flex-direction: column;
}


#topParams {
    display:flex;
    width: 100%;
    min-height: 500px;
}

#trackParams {
    display: flex;
    flex-direction: column;
    flex: 0 0 70%;
    margin-top: 20px;
}

#masterParams {
    flex: 0 0 30%;
    display: flex;
}

.paramRow {
    display: flex;
    margin-left: 30px;
    margin-bottom: 15px;
    gap: 40px;
}

#selectorRow,
#stateRow {
    align-items: center;
}

#selector {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
}

select {
    width: 100%;
    height: 30px;
    font-size: 16px;
    color: white;
    background-color: black;
}

#file {
    display: none;
}

/* style label to look like a button */
#upload-button {
    color: black;
    display: inline-block;
    border-radius: 4px;
    border: 2px solid ButtonText;
    width: 88px;
    height: 38px;
    border-radius: 5px;
    text-shadow: 0px 0px 0px black;
    box-shadow: 1px 1px 2px black;
    font-size: 20px;
    margin-bottom: 0px;
    background-color: ButtonFace;
    text-align: center;
    display: flex;         
    justify-content: center;
    align-items: center;
}

#globalParams {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 80px;
    gap: 20px;
}

#globalParams button,
#stateRow button,
#selectorRow button {
    width: 90px;
    height: 40px;
}

#download {
    font-size: 16px;
}

#selectorRow button,
#stateRow button {
    margin-top: 20px;
}

#pages .page {
    width: 40px;
    height: 40px;
    margin-right: 5px;
}

button.page {
    text-align: center;
    font-size: 20px;
}

.house {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.display {
    background-color: black;
    color: white;
    width: 80px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

#parameters {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#sequencer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 80px;
    gap: 5px;
    margin-top: 10px;
}

.step {
    width: 70px;
    height: 70px;
}

.divider {
    border-left: 2px solid #7B8183;
    height: 90px;
    display: inline-block; 
}

.step.current {
    background-color: #ECC987;
    color: white;
}

.step.active {
    background-color: #BC81BF;
    color: white;
}

.step.active.current {
    background-color: #ECC987;
    color: white;
}

.selected {
    background-color: #5F9F89;
    color: white;
}

.muted {
    background-color: color-mix(in srgb, #5F9F89 50%, white);
    box-shadow: 1px 1px 40px #8795E8;
    text-shadow: 1px 1px 20px #8795E8;
    border-color: #8795E8;
    color: gray;
}

.flash {
    color: #e2ab45;
}

.muted.selected {
    background-color: color-mix(in srgb, #5F9F89 75%, #8E90A4);
}

.changes {
    box-shadow: 1px 1px 40px #e2ab45;
    text-shadow: 1px 1px 20px #e2ab45;
    border-color: #ECC987;
}

.recording {
    box-shadow: 1px 1px 40px #EE9ABD;
    text-shadow: 1px 1px 20px #EE9ABD;
    border-color: #ECC987;
}

#logo {
    margin-left: auto;
    font-size: 70px;
    font-weight: bold;
    align-self: flex-start;
    text-shadow: 1px 1px 8px black;
    margin-right: 10px;
}

footer {
    padding: 10px;
    padding-right: 0px;
    margin: 0;
    text-align: center;
    color: white;
}


/* Modal Screen Styling */

.modal-overlay {
    position: fixed;
    font-size: 20px;
    min-width: 100%; 
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;  
    z-index: 9999;      
}

.modal-box {
    background: #222;
    padding: 80px;
    border-radius: 8px;
    border: 1px solid #444;
    min-width: 350px;
    height: 200px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}

.modal-hidden {
    display: none !important;
}

#seq-name {
    min-width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 20px;
}

.modal-footer {
    display: flex;
    gap: 50px;
}

.modal-footer button {
    width: 100px;
    height: 35px;
}

h3 {
    font-size: 40px;
    margin-top: 0px;

}