body {
    font-family: ubuntu, "sans-serif", "sans";
    background-color: #8e90a4;
    color: white;
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}

footer {
    padding: 10px;
    padding-right: 0px;
    margin: 0;
    text-align: center;
    color: white;
}

body {
    align-items: center;
    justify-content: center;
}

#sqnc {
    width: 1300px;
    height: 700px;
    background-color: #C7C6C6;
    box-shadow: 1px 1px 8px black;
}
