body {
    font-family: ubuntu, "sans-serif", "sans";
    background-color: #8e90a4;
    color: white;
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}

footer {
    padding: 10px;
    padding-right: 0px;
    margin: 0;
    text-align: center;
    color: white;
}

body {
    align-items: center;
    justify-content: center;

}

button {
    border-radius: 5px;
    box-shadow: 1px 1px 2px black;
    font-family: ubuntu, "sans-serif", "sans";
    font-size: 20px;
}

h2 {
    padding: 0;
    margin: 0;
    margin-bottom: 5px;
}

#sqnc {
    display: flex;
    height: 725px;
    align-items: center;
}

.wood {
    width: 35px;
    min-height: 100%;
    box-shadow: 3px 3px 10px black;
    background-color: #363532;
    border-radius: 4px;
}

#sqncBody {
    width: 1200px;
    height: 700px;
    padding: 10px;
    background-color: #C7C6C6;
    box-shadow: 1px 1px 8px black;
    display:flex;
    flex-direction: column;
    margin: 0;
}

#top {
    display: flex;
}

#tracks {
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 20px;
}

.trackBtn {
    width: 100px;
    height: 45px;
}

#params {
    flex-grow: 1;
    display:flex;
    flex-direction: column;
}

#topParams {
    display:flex;
    width: 100%;
    min-height: 500px;
}

#trackParams {
    display: flex;
    flex-direction: column;
    flex: 0 0 70%;
    margin-top: 20px;
}

#masterParams {
    flex: 0 0 30%;
    display: flex;
}

.paramRow {
    display: flex;
    margin-left: 50px;
    margin-bottom: 20px;
    gap: 40px;
}

#globalParams {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 80px;
    gap: 20px;
}

#globalParams button{
    width: 100px;
    height: 60px;
}

#pages .page {
    width: 40px;
    height: 40px;
}

.house {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.display {
    background-color: black;
    color: white;
    width: 80px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

#parameters {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#sequencer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 80px;
    gap: 5px;
}

.step {
    width: 70px;
    height: 70px;
}

.divider {
    border-left: 2px solid #7B8183;
    height: 90px;
    display: inline-block; 
}

.step.current {
    background-color: #ECC987;
    color: white;
}

.step.active {
    background-color: #BC81BF;
    color: white;
}

.step.active.current {
    background-color: #ECC987;
    color: white;
}

.selected {
    background-color: #5F9F89;
    color: white;
}

#logo {
    margin-left: auto; /* This pushes the element to the far right in a flex row */
    font-size: 70px;
    font-weight: bold;
    align-self: flex-start;
    text-shadow: 1px 1px 8px black;
    margin-right: 10px;
}