body {
    font-family: ubuntu, "sans-serif", "sans";
    background-color: #8e90a4;
    color: white;
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}

footer {
    padding: 10px;
    padding-right: 0px;
    margin: 0;
    text-align: center;
    color: white;
}

body {
    align-items: center;
    justify-content: center;

}

button {
    border-radius: 5px;
    box-shadow: 1px 1px 2px black;
    font-family: ubuntu, "sans-serif", "sans";
    font-size: 20px;

}

h2 {
    padding: 0;
    margin: 0;
    margin-bottom: 5px;
}

#sqnc {
    display: flex;
    height: 725px;
    align-items: center;
}

.wood {
    width: 35px;
    min-height: 100%;
    box-shadow: 3px 3px 10px black;
    background-color: #363532;
    border-radius: 4px;
}

#sqncBody {
    width: 1200px;
    height: 600px;
    padding: 50px;
    background-color: #C7C6C6;
    box-shadow: 1px 1px 8px black;
    display:flex;
    flex-direction: column;
    margin: 0;
}


#tracks {
    display: flex;
    min-height: 400px;
}

#trackButtons {
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#trackButtons button {
    width: 120px;
    height: 50px;
}

#globalParams {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 140px;
}

#globalParams button{
    width: 120px;
    height: 60px;
}

#pages .page {
    width: 40px;
    height: 40px;
}

.house {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.display {
    background-color: black;
    color: white;
    width: 80px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

#parameters {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.paramRow {
    display: flex;
    margin-left: 50px;
    margin-bottom: 20px;
    gap: 40px;
}

#sequencer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 100px;
    gap: 5px;
}

.step {
    width: 70px;
    height: 70px;
}

.divider {
    border-left: 2px solid #7B8183;
    height: 90px;
    display: inline-block; 
}

.step.current {
    background-color: #ECC987;
    color: white;
}

.step.active {
    background-color: #BC81BF;
    color: white;
}

.step.active.current {
    background-color: #ECC987;
    color: white;
}

.selected {
    background-color: #5F9F89;
    color: white;
}
